package $!{packagePrefix}$!{conditionPackage};

import java.io.Serializable;
import $!{packagePrefix}$!{domainPackage}.$!{pascalName}PO;

/**
 * @date $!{nowDate}
 */
public class $!{pascalName}Condition extends $!{pascalName}PO implements Serializable {

	private static final long serialVersionUID = 1L;

    private String keyword;

    private String ids;

    public String getKeyword() {
        return keyword;
    }

    public void setKeyword(String keyword) {
        this.keyword = keyword;
    }

    public String getIds() {
        return ids;
    }

    public void setIds(String ids) {
        this.ids = ids;
    }
    
}
